.NavBar-style{
    background-color: rgb(244, 215, 178);
}

.logo-img-style{
    height: 50px;
    width: 50px;
   
}
.logo-text-style{
     margin: -29px 0px 0px 50px ;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
main{
    min-height: 85vh;
}
header{
    margin-bottom: 0.5rem;
}
footer{
    background-color: rgb(244, 215, 178);
    padding: 8px;
    margin-top: 0.5rem;
}
marquee{
    margin-top: 0.4rem;
    font-size: 0.95rem;
}
.p-style{
    text-align: justify;

}

.v-heading{
    margin-top: 1rem;
    margin-left: 15rem;
    color: orange;
    font-size:x-large;
}

.vision-img{
    margin-top: 1rem;
}
.vision-text{
    margin-top: 1rem;
    margin-left: 39rem;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.m-heading{
    margin-top: 1rem;
    margin-left: 15rem;
    color: orange;
    font-size:x-large;
}
.mission-img{
    margin-top: 1rem;
}
.mission-text{
    margin-top: 1rem;
    margin-left: 39rem;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.mm-heading{
    margin-top: 1rem;
    margin-left: 15rem;
    color: orange;
    font-size:x-large;
} 
.mandate-text{
    margin-top: 1rem;
    margin-left: 39rem;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.mandate-img{
    margin-top: 1rem;
    
}

tr,td{
    text-align: center;
}


