.NavBar-style{
    background-color: rgb(186, 179, 170);
}

.logo-img-style{
    height: 50px;
    width: 50px;
   
}
.logo-text-style{
     margin: -29px 0px 0px 50px ;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
main{
    min-height: 85vh;
}
footer{
    background-color: rgb(186, 179, 170);
    padding: 8px;
}
marquee{
    margin-top: 0.4rem;
    font-size: 0.95rem;
}